Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: delete settings.json
  .vscode/settings.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: update modules
  package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

refactor: improve readability of web package
  .tool-versions
  packages/takudev-web/.env.development
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.stories.tsx
  packages/takudev-web/components/atoms/SnsIcon/index.tsx
  packages/takudev-web/components/molecules/SnsIconList/SnsIconList.stories.tsx
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.test.ts
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.ts
  packages/takudev-web/components/scripts/ColorThemeScript.tsx
  packages/takudev-web/consts/color.ts
  packages/takudev-web/middleware.ts
  packages/takudev-web/styles/_color.scss
  packages/takudev-web/types/Color.d.ts
  packages/takudev-web/types/Stage.d.ts
  packages/takudev-web/utils/getCustomColorPropertySettingText.ts
  packages/takudev-web/utils/index.ts
  packages/takudev-web/utils/isColorMode.test.ts
  packages/takudev-web/utils/isColorMode.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: storycap cmd
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: add chrome to github actions
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

build: update yarn to 3.2.4
  .gitignore
  .yarnrc.yml
  package.json
  packages/takudev-cms/package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: update ci
  .github/actions/install-dependencies/action.yml
  .github/workflows/ci.yml
  .gitignore
  .yarn/releases/yarn-3.2.4.cjs
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: update
  .github/actions/install-dependencies/action.yml
  .github/workflows/ci.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: update
  .github/workflows/lighthouse.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: update ci
  .yarnrc.yml
  package.json
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

refactor: improve readability of web package
  .github/actions/install-dependencies/action.yml
  .github/workflows/lighthouse.yml
  .github/workflows/reg-suit.yml
  .gitignore
  .tool-versions
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  package.json
  packages/takudev-cms/package.json
  packages/takudev-web/.env.development
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.stories.tsx
  packages/takudev-web/components/atoms/SnsIcon/index.tsx
  packages/takudev-web/components/molecules/SnsIconList/SnsIconList.stories.tsx
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.test.ts
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.ts
  packages/takudev-web/components/scripts/ColorThemeScript.tsx
  packages/takudev-web/consts/color.ts
  packages/takudev-web/middleware.ts
  packages/takudev-web/package.json
  packages/takudev-web/styles/_color.scss
  packages/takudev-web/types/Color.d.ts
  packages/takudev-web/types/Stage.d.ts
  packages/takudev-web/utils/getCustomColorPropertySettingText.ts
  packages/takudev-web/utils/index.ts
  packages/takudev-web/utils/isColorMode.test.ts
  packages/takudev-web/utils/isColorMode.ts
  turbo.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  .prettierignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-production-install.cjs
  .yarnrc.yml
  package.json
  packages/takudev-cms/package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: remove unused .vscode folder
  packages/takudev-web/.vscode/launch.json
  packages/takudev-web/.vscode/settings.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

refactor: sB atom components
  packages/takudev-web/components/atoms/CloseButton/CloseButton.stories.tsx
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.stories.tsx
  packages/takudev-web/components/atoms/Logo/Logo.stories.tsx
  packages/takudev-web/components/atoms/ProfileIcon/ProfileIcon.stories.tsx
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.stories.tsx
  packages/takudev-web/components/atoms/TextTag/TextTag.stories.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: vrt & lhci
  .github/workflows/lighthouse.yml
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

refactor: molecules storybook components
  packages/takudev-web/components/molecules/SnsIconList/SnsIconList.stories.tsx
  packages/takudev-web/components/molecules/TextTagList/TextTagList.stories.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: rename workflow job name
  .github/workflows/lighthouse.yml
  .github/workflows/reg-suit.yml
  .github/workflows/semantic.yml
  .github/workflows/storybook-clean.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

refactor: organisms storybook components
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.stories.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.stories.tsx
  packages/takudev-web/components/organisms/MenuModal/MenuModal.stories.tsx
  packages/takudev-web/components/organisms/PageFooter/PageFooter.stories.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeader.stories.tsx
  packages/takudev-web/components/organisms/ProfileCard/ProfileCardView.stories.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

refactor: storybook features components
  packages/takudev-web/components/features/Home/HomePageContent.stories.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: yarn dedupe
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

perf: improve accessibility
  packages/takudev-web/components/atoms/CloseButton/index.tsx
  packages/takudev-web/components/atoms/HamburgerButton/index.tsx
  packages/takudev-web/components/atoms/ProfileIcon/index.tsx
  packages/takudev-web/components/atoms/SnsIcon/index.tsx
  packages/takudev-web/components/features/index.ts
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.module.scss
  packages/takudev-web/components/organisms/ArticleSummaryCard/index.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButtonView.tsx
  packages/takudev-web/components/organisms/MenuModal/MenuModal.stories.tsx
  packages/takudev-web/components/organisms/MenuModal/MenuModalView.tsx
  packages/takudev-web/components/organisms/MenuModal/index.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeaderView.tsx
  packages/takudev-web/components/organisms/PageHeader/index.tsx
  packages/takudev-web/package.json
  packages/takudev-web/pages/contact/index.tsx
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add contact page skeleton
  packages/takudev-web/components/features/Contact/ContactPageContent.tsx
  packages/takudev-web/components/features/Contact/index.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: reg-suit
  packages/takudev-web/components/organisms/ArticleSummaryCard/index.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: reg-suit
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.stories.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat: add contact page
  packages/takudev-web/components/features/Contact/ContactPageContent.tsx
  packages/takudev-web/components/features/Contact/index.ts
  packages/takudev-web/components/features/index.ts
  packages/takudev-web/components/organisms/PageFooter/PageFooterView.tsx
  packages/takudev-web/consts/href.ts
  packages/takudev-web/package.json
  packages/takudev-web/pages/contact/index.tsx
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: noreferrer
  packages/takudev-web/components/organisms/MenuModal/MenuModalView.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: improve pr template
  .github/pr-release-template.erb
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: improve template
  .github/pr-release-template.erb
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: improve packages/takudev-cms/package.json
  packages/takudev-cms/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: init local strapi
  packages/takudev-cms/.editorconfig
  packages/takudev-cms/.env.example
  packages/takudev-cms/.gitignore
  packages/takudev-cms/README.md
  packages/takudev-cms/config/admin.ts
  packages/takudev-cms/config/api.ts
  packages/takudev-cms/config/database.ts
  packages/takudev-cms/config/middlewares.ts
  packages/takudev-cms/config/server.ts
  packages/takudev-cms/database/migrations/.gitkeep
  packages/takudev-cms/docker-compose.yaml
  packages/takudev-cms/favicon.png
  packages/takudev-cms/package.json
  packages/takudev-cms/public/robots.txt
  packages/takudev-cms/public/uploads/.gitkeep
  packages/takudev-cms/src/admin/app.example.tsx
  packages/takudev-cms/src/admin/tsconfig.json
  packages/takudev-cms/src/admin/webpack.config.example.js
  packages/takudev-cms/src/api/.gitkeep
  packages/takudev-cms/src/extensions/.gitkeep
  packages/takudev-cms/src/index.ts
  packages/takudev-cms/tsconfig.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add starapi setting
  packages/takudev-cms/config/database.ts
  packages/takudev-cms/package.json
  packages/takudev-cms/src/api/article/content-types/article/schema.json
  packages/takudev-cms/src/api/article/controllers/article.ts
  packages/takudev-cms/src/api/article/routes/article.ts
  packages/takudev-cms/src/api/article/services/article.ts
  packages/takudev-cms/src/api/tag-category/content-types/tag-category/schema.json
  packages/takudev-cms/src/api/tag-category/controllers/tag-category.ts
  packages/takudev-cms/src/api/tag-category/routes/tag-category.ts
  packages/takudev-cms/src/api/tag-category/services/tag-category.ts
  packages/takudev-cms/src/api/tag/content-types/tag/schema.json
  packages/takudev-cms/src/api/tag/controllers/tag.ts
  packages/takudev-cms/src/api/tag/routes/tag.ts
  packages/takudev-cms/src/api/tag/services/tag.ts
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: improve setting
  .eslintrc.js
  packages/takudev-cms/jest.config.js
  packages/takudev-web/.eslintrc.js
  packages/takudev-web/.prettierignore
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(cms): made some attributes required
  packages/takudev-cms/src/api/article/content-types/article/schema.json
  packages/takudev-cms/src/api/tag-category/content-types/tag-category/schema.json
  packages/takudev-cms/src/api/tag/content-types/tag/schema.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): add GraphQl schema and codegen ts types
  packages/takudev-web/.eslintrc.js
  packages/takudev-web/graphql/__generated__/index.d.ts
  packages/takudev-web/graphql/codegen.yaml
  packages/takudev-web/graphql/documents/query/GetAllArticleSummary.graphql
  packages/takudev-web/graphql/schema.graphql
  packages/takudev-web/package.json
  packages/takudev-web/types/GraphQl.d.ts
  packages/takudev-web/types/index.d.ts
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: graphql settings
  packages/takudev-web/graphql/__generated__/index.ts
  packages/takudev-web/graphql/codegen.yaml
  packages/takudev-web/graphql/index.ts
  packages/takudev-web/package.json
  packages/takudev-web/types/GraphQl.d.ts
  packages/takudev-web/types/index.d.ts
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

Path conditions:
  eslint --fix --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  eslint --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  prettier --cache --write --ignore-path ./.prettierignore: any of: ./*
  prettier --cache --check --ignore-path ./.prettierignore: any of: ./*
  sort-package-json: any of: ./package.json
  sort-package-json --check: any of: ./package.json
