Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: add ignore files
  .eslintignore
  .prettierignore
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore(web): remove peerDependenciesMeta
  packages/takudev-web/package.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore(web): add storybook
  packages/takudev-web/.eslintrc.js
  packages/takudev-web/.storybook/.babelrc
  packages/takudev-web/.storybook/ColorThemeTemplates.tsx
  packages/takudev-web/.storybook/customViewports.ts
  packages/takudev-web/.storybook/main.js
  packages/takudev-web/.storybook/preview-head.html
  packages/takudev-web/.storybook/preview.js
  packages/takudev-web/@types/color.d.ts
  packages/takudev-web/@types/index.d.ts
  packages/takudev-web/@types/styled-jsx.d.ts
  packages/takudev-web/components/atoms/CloseButton.stories.tsx
  packages/takudev-web/components/atoms/CloseButton.tsx
  packages/takudev-web/components/atoms/HamburgerButton.stories.tsx
  packages/takudev-web/components/atoms/HamburgerButton.tsx
  packages/takudev-web/components/atoms/Logo.stories.tsx
  packages/takudev-web/components/atoms/Logo.tsx
  packages/takudev-web/components/atoms/index.ts
  packages/takudev-web/components/organisms/HomePageContent.tsx
  packages/takudev-web/components/organisms/PageHeader.stories.tsx
  packages/takudev-web/components/organisms/PageHeader.tsx
  packages/takudev-web/components/organisms/index.ts
  packages/takudev-web/components/templates/PageContentTemplate.tsx
  packages/takudev-web/components/templates/PageTemplate.tsx
  packages/takudev-web/components/templates/index.ts
  packages/takudev-web/consts/breakPoints.ts
  packages/takudev-web/consts/color.ts
  packages/takudev-web/consts/index.ts
  packages/takudev-web/hooks/index.ts
  packages/takudev-web/hooks/useColor.ts
  packages/takudev-web/themes/ColorTheme.tsx
  packages/takudev-web/themes/index.ts
  packages/takudev-web/tsconfig.json
  packages/takudev-web/utils/handleCustomVh.ts
  packages/takudev-web/utils/handleViewPort.ts
  packages/takudev-web/utils/index.ts
  packages/takudev-web/utils/rem.ts
  packages/takudev-web/utils/vw.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

refactor(web): color Theme logic
  packages/takudev-web/.storybook/preview.js
  packages/takudev-web/components/atoms/CloseButton.tsx
  packages/takudev-web/components/atoms/HamburgerButton.stories.tsx
  packages/takudev-web/components/atoms/HamburgerButton.tsx
  packages/takudev-web/components/atoms/Logo.tsx
  packages/takudev-web/components/atoms/index.ts
  packages/takudev-web/components/organisms/HomePageContent.tsx
  packages/takudev-web/components/organisms/PageContentLayouter/index.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeader.stories.tsx
  packages/takudev-web/components/organisms/PageHeader/index.tsx
  packages/takudev-web/components/organisms/index.ts
  packages/takudev-web/components/providers/ColorProvider/index.tsx
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.ts
  packages/takudev-web/components/providers/index.ts
  packages/takudev-web/components/templates/PageTemplate.tsx
  packages/takudev-web/components/templates/index.ts
  packages/takudev-web/consts/index.ts
  packages/takudev-web/contexts/ColorContext.ts
  packages/takudev-web/contexts/index.ts
  packages/takudev-web/hooks/index.ts
  packages/takudev-web/hooks/useColor.ts
  packages/takudev-web/themes/index.ts
  packages/takudev-web/tsconfig.json
  packages/takudev-web/utils/index.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: changes due to changing nodejs version manager from volta to asdf
  .node-version
  .prettierignore
  package.json
  packages/takudev-cms/.node-version
  packages/takudev-cms/package.json
  packages/takudev-web/.node-version
  packages/takudev-web/.prettierignore
  packages/takudev-web/jest.config.js
  packages/takudev-web/package.json
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

test: add a test execution environment to the project
  .vscode/launch.json
  packages/takudev-web/.vscode/launch.json
  packages/takudev-web/.vscode/settings.json
  packages/takudev-web/tsconfig.jest.json
  packages/takudev-web/utils/vw.test.ts
  takudev.code-workspace
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

build: add packageManager to each child project
  packages/takudev-cms/package.json
  packages/takudev-web/package.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

test: add first test files
  package.json
  packages/takudev-web/.eslintrc.js
  packages/takudev-web/components/organisms/PageContentLayouter/index.tsx
  packages/takudev-web/components/organisms/PageContentLayouter/usePageContentLayouter.test.ts
  packages/takudev-web/components/organisms/PageContentLayouter/usePageContentLayouter.ts
  packages/takudev-web/components/providers/ColorProvider/index.tsx
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.test.ts
  packages/takudev-web/hooks/useColor.test.ts
  packages/takudev-web/jest.config.js
  packages/takudev-web/package.json
  packages/takudev-web/utils/handleCustomVh.ts
  packages/takudev-web/utils/handleViewPort.ts
  packages/takudev-web/utils/index.ts
  packages/takudev-web/utils/rem.test.ts
  packages/takudev-web/utils/rem.ts
  packages/takudev-web/utils/vw.test.ts
  packages/takudev-web/utils/vw.ts
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add page header
  packages/takudev-web/@types/color.d.ts
  packages/takudev-web/components/atoms/Logo.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.stories.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/index.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeader.stories.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeaderPresentation.tsx
  packages/takudev-web/components/organisms/PageHeader/index.tsx
  packages/takudev-web/consts/breakPointMap.ts
  packages/takudev-web/consts/color.ts
  packages/takudev-web/consts/index.ts
  packages/takudev-web/package.json
  packages/takudev-web/public/moon.svg
  packages/takudev-web/public/sun.svg
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: remove hrefToHome from PageContentLayouter
  packages/takudev-web/components/organisms/PageContentLayouter/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: remove hrefToHome from PageTemplate
  packages/takudev-web/.storybook/ColorThemeTemplates.tsx
  packages/takudev-web/components/templates/PageTemplate.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: reorganize
  packages/takudev-web/@types/index.d.ts
  packages/takudev-web/@types/stage.d.ts
  packages/takudev-web/components/organisms/PageContentTop/index.tsx
  packages/takudev-web/components/organisms/PageHeader/index.tsx
  packages/takudev-web/components/organisms/index.ts
  packages/takudev-web/components/templates/PageTemplate/PageContentLayouter/index.tsx
  packages/takudev-web/components/templates/PageTemplate/PageContentLayouter/usePageContentLayouter.test.ts
  packages/takudev-web/components/templates/PageTemplate/PageContentLayouter/usePageContentLayouter.ts
  packages/takudev-web/components/templates/PageTemplate/index.tsx
  packages/takudev-web/pages/_app.tsx
  packages/takudev-web/pages/_document.tsx
  packages/takudev-web/pages/_middleware.ts
  packages/takudev-web/pages/index.tsx
  packages/takudev-web/styles/Home.module.css
  packages/takudev-web/styles/globals.css
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add kebabize util function
  packages/takudev-web/utils/index.ts
  packages/takudev-web/utils/kebabize.test.ts
  packages/takudev-web/utils/kebabize.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: remove unnecessary util functions
  packages/takudev-web/utils/index.ts
  packages/takudev-web/utils/rem.test.ts
  packages/takudev-web/utils/rem.ts
  packages/takudev-web/utils/vw.test.ts
  packages/takudev-web/utils/vw.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: eslint rules
  .eslintrc.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add ColorThemeScript
  packages/takudev-web/components/scripts/ColorThemeScript.tsx
  packages/takudev-web/consts/color.ts
  packages/takudev-web/consts/index.ts
  packages/takudev-web/utils/getCustomColorPropertiesSetttingText.ts
  packages/takudev-web/utils/index.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add sass
  packages/takudev-web/@types/color.d.ts
  packages/takudev-web/@types/index.d.ts
  packages/takudev-web/@types/styled-jsx.d.ts
  packages/takudev-web/package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add ColorProvider
  packages/takudev-web/pages/_app.tsx
  packages/takudev-web/pages/_document.tsx
  packages/takudev-web/styles/globals.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add ColorProvider
  packages/takudev-web/components/providers/ColorProvider/index.tsx
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.ts
  packages/takudev-web/contexts/ColorContext.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: remove useColor
  packages/takudev-web/hooks/index.ts
  packages/takudev-web/hooks/useColor.test.ts
  packages/takudev-web/hooks/useColor.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add css modules
  packages/takudev-web/.storybook/ColorThemeTemplates.tsx
  packages/takudev-web/components/atoms/CloseButton.tsx
  packages/takudev-web/components/atoms/CloseButton/CloseButton.module.scss
  packages/takudev-web/components/atoms/CloseButton/CloseButton.stories.tsx
  packages/takudev-web/components/atoms/CloseButton/index.tsx
  packages/takudev-web/components/atoms/HamburgerButton.tsx
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.module.scss
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.stories.tsx
  packages/takudev-web/components/atoms/HamburgerButton/index.tsx
  packages/takudev-web/components/atoms/Logo.tsx
  packages/takudev-web/components/atoms/Logo/Logo.module.scss
  packages/takudev-web/components/atoms/Logo/Logo.stories.tsx
  packages/takudev-web/components/atoms/Logo/index.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.module.scss
  packages/takudev-web/components/organisms/ColorModeSwitchButton/index.tsx
  packages/takudev-web/components/organisms/PageContentTop/PageContentTop.module.scss
  packages/takudev-web/components/organisms/PageContentTop/index.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeader.module.scss
  packages/takudev-web/components/organisms/PageHeader/PageHeaderPresentation.tsx
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.test.ts
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.ts
  packages/takudev-web/components/scripts/ColorThemeScript.tsx
  packages/takudev-web/components/scripts/index.ts
  packages/takudev-web/components/templates/PageTemplate/PageContentLayouter/index.tsx
  packages/takudev-web/components/templates/PageTemplate/PageTemplate.module.scss
  packages/takudev-web/components/templates/PageTemplate/index.tsx
  packages/takudev-web/components/templates/PageTemplate/usePageTemplate.test.ts
  packages/takudev-web/components/templates/PageTemplate/usePageTemplate.ts
  packages/takudev-web/public/moon.svg
  packages/takudev-web/public/sun.svg
  packages/takudev-web/utils/kebabize.test.ts
  packages/takudev-web/utils/kebabize.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add stylelint
  package.json
  packages/takudev-web/.prettierignore
  packages/takudev-web/.stylelintignore
  packages/takudev-web/.stylelintrc.json
  packages/takudev-web/package.json
  packages/takudev-web/utils/kebabize.ts
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add lintstagedrc
  packages/takudev-web/.lintstagedrc.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update prettierignore
  packages/takudev-web/.prettierignore
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: update lintstagedrc.json
  packages/takudev-web/.lintstagedrc.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update stylelint setting
  packages/takudev-web/.prettierignore
  packages/takudev-web/.stylelintrc.json
  packages/takudev-web/components/atoms/CloseButton/CloseButton.module.scss
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.module.scss
  packages/takudev-web/components/atoms/Logo/Logo.module.scss
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.module.scss
  packages/takudev-web/components/organisms/PageHeader/PageHeader.module.scss
  packages/takudev-web/components/templates/PageTemplate/PageTemplate.module.scss
  packages/takudev-web/package.json
  packages/takudev-web/styles/globals.scss
  yarn.lock
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: update stylelint setting
  packages/takudev-web/.stylelintrc.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

style: add styles
  packages/takudev-web/components/atoms/CloseButton/CloseButton.module.scss
  packages/takudev-web/components/atoms/Logo/Logo.module.scss
  packages/takudev-web/styles/_color.scss
  packages/takudev-web/styles/_font-family.scss
  packages/takudev-web/styles/globals.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update kebabize
  packages/takudev-web/@types/color.d.ts
  packages/takudev-web/consts/color.ts
  packages/takudev-web/consts/index.ts
  packages/takudev-web/utils/kebabize.test.ts
  packages/takudev-web/utils/kebabize.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

style: rename global.scss
  packages/takudev-web/pages/_app.tsx
  packages/takudev-web/styles/global.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

style: replace color variables
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.module.scss
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.module.scss
  packages/takudev-web/components/organisms/PageContentTop/PageContentTop.module.scss
  packages/takudev-web/components/organisms/PageHeader/PageHeader.module.scss
  packages/takudev-web/components/templates/PageTemplate/PageTemplate.module.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update getCustomColorPropertiesSetttingText
  packages/takudev-web/utils/getCustomColorPropertiesSetttingText.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

test: fix useColorProvider test
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.test.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: rename @types → types
  packages/takudev-web/components/providers/ColorProvider/index.tsx
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.test.ts
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.ts
  packages/takudev-web/consts/color.ts
  packages/takudev-web/contexts/ColorContext.ts
  packages/takudev-web/pages/_document.tsx
  packages/takudev-web/types/Color.d.ts
  packages/takudev-web/types/Stage.d.ts
  packages/takudev-web/types/index.d.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: update ColorThemeScript
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.module.scss
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.ts
  packages/takudev-web/components/scripts/ColorThemeScript.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

refactor: rename Top → Home
  packages/takudev-web/components/organisms/PageContentHome/PageContentHome.module.scss
  packages/takudev-web/components/organisms/PageContentHome/index.tsx
  packages/takudev-web/components/organisms/PageContentTop/index.tsx
  packages/takudev-web/components/organisms/index.ts
  packages/takudev-web/pages/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

style: add util styles
  packages/takudev-web/pages/_app.tsx
  packages/takudev-web/styles/_global.scss
  packages/takudev-web/styles/_rem.scss
  packages/takudev-web/styles/_strip-unit.scss
  packages/takudev-web/styles/_vw.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update pagetemplate
  packages/takudev-web/components/templates/PageTemplate/PageTemplate.module.scss
  packages/takudev-web/components/templates/PageTemplate/index.tsx
  packages/takudev-web/styles/_global.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update ColorProvider
  packages/takudev-web/components/organisms/ColorModeSwitchButton/index.tsx
  packages/takudev-web/components/providers/ColorProvider/index.tsx
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.test.ts
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.ts
  packages/takudev-web/components/scripts/ColorThemeScript.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

Path conditions:
  eslint --fix --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  eslint --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  prettier --write --ignore-path ./.prettierignore: any of: ./*
  prettier --check --ignore-path ./.prettierignore: any of: ./*
  sort-package-json: any of: ./package.json
  sort-package-json --check: any of: ./package.json
