Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: improve PageHeader
  packages/takudev-web/components/organisms/PageHeader/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add MenuModal skeleton
  packages/takudev-web/components/organisms/MenuModal/MenuModal.module.scss
  packages/takudev-web/components/organisms/MenuModal/MenuModal.stories.tsx
  packages/takudev-web/components/organisms/MenuModal/MenuModalView.tsx
  packages/takudev-web/components/organisms/MenuModal/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

perf: improve a11y of atom components
  packages/takudev-web/components/atoms/CloseButton/CloseButton.stories.tsx
  packages/takudev-web/components/atoms/CloseButton/index.tsx
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.stories.tsx
  packages/takudev-web/components/atoms/HamburgerButton/index.tsx
  packages/takudev-web/components/atoms/Logo/Logo.stories.tsx
  packages/takudev-web/components/atoms/Logo/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

perf: improve a11y of organisms components
  packages/takudev-web/components/organisms/MenuModal/MenuModalView.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeaderView.tsx
  packages/takudev-web/components/organisms/PageHeader/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: add className logo
  packages/takudev-web/components/atoms/Logo/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add MenuModal animation
  packages/takudev-web/components/organisms/MenuModal/MenuModal.module.scss
  packages/takudev-web/components/organisms/MenuModal/MenuModalView.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeader.module.scss
  packages/takudev-web/styles/_breakpoints.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: update node.js and npm modules
  .node-version
  package.json
  yarn.lock
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

build: add prettier cache option
  .lintstagedrc.json
  package.json
  packages/takudev-web/.lintstagedrc.json
  packages/takudev-web/package.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

style: update MenuModal Style
  packages/takudev-web/components/organisms/MenuModal/MenuModal.module.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

build: update storybook build config
  packages/takudev-web/.storybook/main.js
  packages/takudev-web/package.json
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add SnsIcon Components
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.module.scss
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.stories.tsx
  packages/takudev-web/components/atoms/SnsIcon/index.tsx
  packages/takudev-web/components/atoms/index.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: improve SnsIcon
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.module.scss
  packages/takudev-web/components/atoms/SnsIcon/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add SnsIconList
  packages/takudev-web/components/molecules/SnsIconList/SnsIconList.module.scss
  packages/takudev-web/components/molecules/SnsIconList/SnsIconList.stories.tsx
  packages/takudev-web/components/molecules/SnsIconList/index.tsx
  packages/takudev-web/components/molecules/index.ts
  packages/takudev-web/consts/href.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add PageFooter
  packages/takudev-web/components/organisms/PageFooter/PageFooter.module.scss
  packages/takudev-web/components/organisms/PageFooter/PageFooterView.tsx
  packages/takudev-web/components/organisms/PageFooter/index.tsx
  packages/takudev-web/components/organisms/index.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: improve PageTemplate
  packages/takudev-web/components/templates/PageTemplate/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add SnsIcon's aria-label
  packages/takudev-web/components/atoms/SnsIcon/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: snsIcon's storybook
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.stories.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: font size of copywrite made legible
  packages/takudev-web/components/organisms/PageFooter/PageFooter.module.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add ProfileIcon
  packages/takudev-web/components/atoms/PfofileIcon/PdofileIcon.stories.tsx
  packages/takudev-web/components/atoms/PfofileIcon/ProfileIcon.module.scss
  packages/takudev-web/components/atoms/PfofileIcon/index.tsx
  packages/takudev-web/components/atoms/index.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add ProfileIcon
  packages/takudev-web/components/atoms/ProfileIcon/ProfileIcon.module.scss
  packages/takudev-web/components/atoms/ProfileIcon/ProfileIcon.stories.tsx
  packages/takudev-web/components/atoms/ProfileIcon/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add ProfileCard
  packages/takudev-web/components/organisms/PageContentHome/PageContentHome.module.scss
  packages/takudev-web/components/organisms/PageContentHome/PageContentHome.stories.tsx
  packages/takudev-web/components/organisms/PageContentHome/index.tsx
  packages/takudev-web/components/organisms/PageFooter/PageFooter.stories.tsx
  packages/takudev-web/components/organisms/ProfileCard/ProfileCardView.module.scss
  packages/takudev-web/components/organisms/ProfileCard/ProfileCardView.stories.tsx
  packages/takudev-web/components/organisms/ProfileCard/ProfileCardView.tsx
  packages/takudev-web/components/organisms/ProfileCard/index.tsx
  packages/takudev-web/components/organisms/index.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: improve memorization
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.stories.tsx
  packages/takudev-web/components/atoms/Logo/Logo.stories.tsx
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.stories.tsx
  packages/takudev-web/components/atoms/SnsIcon/index.tsx
  packages/takudev-web/components/molecules/SnsIconList/SnsIconList.stories.tsx
  packages/takudev-web/components/molecules/SnsIconList/index.tsx
  packages/takudev-web/components/organisms/PageContentHome/PageContentHome.stories.tsx
  packages/takudev-web/components/organisms/PageFooter/index.tsx
  packages/takudev-web/components/organisms/ProfileCard/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update eslint
  .eslintrc.js
  packages/takudev-web/.eslintrc.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update storybook components
  packages/takudev-web/components/atoms/CloseButton/CloseButton.stories.tsx
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.stories.tsx
  packages/takudev-web/components/atoms/Logo/Logo.stories.tsx
  packages/takudev-web/components/atoms/ProfileIcon/ProfileIcon.stories.tsx
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.stories.tsx
  packages/takudev-web/components/atoms/SnsIcon/index.tsx
  packages/takudev-web/components/molecules/SnsIconList/SnsIconList.stories.tsx
  packages/takudev-web/components/molecules/SnsIconList/index.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.stories.tsx
  packages/takudev-web/components/organisms/MenuModal/MenuModal.stories.tsx
  packages/takudev-web/components/organisms/PageContentHome/PageContentHome.stories.tsx
  packages/takudev-web/components/organisms/PageFooter/PageFooter.stories.tsx
  packages/takudev-web/components/organisms/PageFooter/PageFooterView.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeader.stories.tsx
  packages/takudev-web/components/organisms/ProfileCard/ProfileCardView.stories.tsx
  packages/takudev-web/components/organisms/ProfileCard/ProfileCardView.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: replace _middleware.ts
  packages/takudev-web/pages/_middleware.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: improve SnsIconList storybook
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.stories.tsx
  packages/takudev-web/components/molecules/SnsIconList/SnsIconList.stories.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add isInvalidDate util function
  package.json
  packages/takudev-web/utils/index.ts
  packages/takudev-web/utils/isInvalidDate.test.ts
  packages/takudev-web/utils/isInvalidDate.ts
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

test: update isInvalidDate test
  packages/takudev-web/utils/isInvalidDate.test.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add TextTag component
  packages/takudev-web/components/atoms/TextTag/TextTag.module.scss
  packages/takudev-web/components/atoms/TextTag/TextTag.stories.tsx
  packages/takudev-web/components/atoms/TextTag/index.tsx
  packages/takudev-web/consts/color.ts
  packages/takudev-web/styles/_color.scss
  packages/takudev-web/types/Color.d.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add TextTagList component
  packages/takudev-web/components/atoms/TextTag/TextTag.module.scss
  packages/takudev-web/components/atoms/index.ts
  packages/takudev-web/components/molecules/TextTagList/TextTagList.module.scss
  packages/takudev-web/components/molecules/TextTagList/TextTagList.stories.tsx
  packages/takudev-web/components/molecules/TextTagList/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add ArticleSummaryCard component
  packages/takudev-web/components/molecules/TextTagList/TextTagList.module.scss
  packages/takudev-web/components/molecules/index.ts
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.module.scss
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.stories.tsx
  packages/takudev-web/components/organisms/ArticleSummaryCard/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update PageContentHome component
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.module.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update PageContentHome component
  packages/takudev-web/components/organisms/PageContentHome/PageContentHome.module.scss
  packages/takudev-web/components/organisms/PageContentHome/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add HomePage component
  packages/takudev-web/components/index.ts
  packages/takudev-web/components/pages/Home/HomePage.stories.tsx
  packages/takudev-web/components/pages/Home/index.tsx
  packages/takudev-web/components/pages/index.ts
  packages/takudev-web/pages/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: fix ArticleSummaryCard
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.stories.tsx
  packages/takudev-web/components/organisms/ArticleSummaryCard/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: articleSummaryCard sb
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.stories.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: fix git workflow
  .github/workflows/lighthouse.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: improve PageTemplate
  packages/takudev-web/components/templates/PageTemplate/PageTemplate.module.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: update node.js version
  .node-version
  packages/takudev-web/package.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

Path conditions:
  eslint --fix --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  eslint --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  prettier --write --ignore-path ./.prettierignore: any of: ./*
  prettier --check --ignore-path ./.prettierignore: any of: ./*
  sort-package-json: any of: ./package.json
  sort-package-json --check: any of: ./package.json
