Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

.lintstagedrc.json:

{
  "./*.{js,ts}": [
    "eslint --fix --ignore-path ./.eslintignore",
    "eslint --ignore-path ./.eslintignore"
  ],
  "./*": [
    "prettier --cache --write --ignore-path ./.prettierignore",
    "prettier --cache --check --ignore-path ./.prettierignore"
  ],
  "./package.json": ["sort-package-json", "sort-package-json --check"]
}

fix: yarn dedupe
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

refactor: rename uils → lib
  packages/takudev-web/.storybook/ColorThemeTemplates.tsx
  packages/takudev-web/components/organisms/ArticleSummaryCard/index.tsx
  packages/takudev-web/components/providers/ColorProvider/useColorProvider.ts
  packages/takudev-web/components/scripts/ColorThemeScript.tsx
  packages/takudev-web/lib/getCustomColorPropertySettingText.ts
  packages/takudev-web/lib/index.ts
  packages/takudev-web/lib/isColorMode.test.ts
  packages/takudev-web/lib/isColorMode.ts
  packages/takudev-web/lib/isInvalidDate.test.ts
  packages/takudev-web/lib/isInvalidDate.ts
  packages/takudev-web/lib/kebabize.test.ts
  packages/takudev-web/lib/kebabize.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

refactor: rename
  packages/takudev-web/graphql/documents/query/getArticleSummary.graphql
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat: improve graphql setting
  packages/takudev-web/.eslintrc.js
  packages/takudev-web/graphql/__generated__/index.d.ts
  packages/takudev-web/graphql/__generated__/index.ts
  packages/takudev-web/graphql/codegen.yaml
  packages/takudev-web/graphql/documents/query/getAllArticleSummary.graphql
  packages/takudev-web/package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add HomePage static props
  packages/takudev-cms/src/api/article/content-types/article/schema.json
  packages/takudev-web/.babelrc
  packages/takudev-web/.stylelintrc.json
  packages/takudev-web/components/atoms/CloseButton/CloseButton.module.scss
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.module.scss
  packages/takudev-web/components/atoms/Logo/Logo.module.scss
  packages/takudev-web/components/atoms/ProfileIcon/ProfileIcon.module.scss
  packages/takudev-web/components/atoms/TextTag/TextTag.module.scss
  packages/takudev-web/components/features/Home/HomePageContent.module.scss
  packages/takudev-web/components/features/Home/HomePageContent.tsx
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.module.scss
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.stories.tsx
  packages/takudev-web/components/organisms/ArticleSummaryCard/index.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.module.scss
  packages/takudev-web/components/organisms/MenuModal/MenuModal.module.scss
  packages/takudev-web/components/organisms/PageFooter/PageFooter.module.scss
  packages/takudev-web/components/organisms/PageHeader/PageHeader.module.scss
  packages/takudev-web/components/organisms/ProfileCard/ProfileCardView.module.scss
  packages/takudev-web/components/templates/PageTemplate/PageTemplate.module.scss
  packages/takudev-web/graphql/__generated__/index.d.ts
  packages/takudev-web/graphql/__generated__/index.ts
  packages/takudev-web/graphql/documents/query/getAllArticleSummary.graphql
  packages/takudev-web/package.json
  packages/takudev-web/pages/index.tsx
  packages/takudev-web/styles/_breakpoints.scss
  packages/takudev-web/styles/_font-family.scss
  packages/takudev-web/styles/_global-story-book.scss
  packages/takudev-web/styles/_global.scss
  packages/takudev-web/styles/_rem.scss
  packages/takudev-web/styles/_responsive.scss
  packages/takudev-web/styles/_strip-unit.scss
  packages/takudev-web/styles/_vw.scss
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat(cms): add @strapi/provider-upload-aws-s3
  packages/takudev-cms/config/database.ts
  packages/takudev-cms/config/plugin.ts
  packages/takudev-cms/package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: remove .env.example
  packages/takudev-cms/.env.example
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: update strapi
  packages/takudev-cms/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add authorizarion
  .gitignore
  packages/takudev-web/pages/index.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: add secrets
  .github/workflows/ci.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: add secrets
  .github/workflows/lighthouse.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: add chronium
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: add chronium
  .github/workflows/reg-suit.yml
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: add chronium
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: add chronium
  .github/workflows/ci.yml
  packages/takudev-web/.gitignore
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: test
  .github/workflows/lighthouse.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: test
  .github/workflows/reg-suit.yml
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: test
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: test
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: test
  .github/workflows/ci.yml
  packages/takudev-web/.gitignore
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: test
  .gitignore
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore
