Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

.lintstagedrc.json:

{
  "./*.{js,ts}": [
    "eslint --fix --ignore-path ./.eslintignore",
    "eslint --ignore-path ./.eslintignore"
  ],
  "./*": [
    "prettier --write --ignore-path ./.prettierignore",
    "prettier --check --ignore-path ./.prettierignore"
  ],
  "./package.json": ["sort-package-json", "sort-package-json --check"]
}

feat: update ColorModeSwitchButton
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButtonPresentation.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: add recommended vscode extension
  .vscode/extensions.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: rename presentation → view
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButtonView.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/index.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeader.stories.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeaderView.tsx
  packages/takudev-web/components/organisms/PageHeader/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: revive storybook
  packages/takudev-web/.storybook/.babelrc
  packages/takudev-web/.storybook/ColorThemeTemplates.tsx
  packages/takudev-web/.storybook/main.js
  packages/takudev-web/.storybook/preview.js
  packages/takudev-web/package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: update storybook items
  packages/takudev-web/components/atoms/CloseButton/CloseButton.module.scss
  packages/takudev-web/components/atoms/CloseButton/index.tsx
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.stories.tsx
  packages/takudev-web/components/atoms/Logo/Logo.stories.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.stories.tsx
  packages/takudev-web/consts/color.ts
  packages/takudev-web/styles/_color.scss
  packages/takudev-web/types/Color.d.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: update postcss
  packages/takudev-web/package.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update yarn.lock
  yarn.lock
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update post-css
  package.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: remove post-css
  package.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: update postcss
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add responsive util style
  packages/takudev-web/components/organisms/PageHeader/PageHeader.module.scss
  packages/takudev-web/consts/breakPointMap.ts
  packages/takudev-web/consts/index.ts
  packages/takudev-web/styles/_breakpoints.scss
  packages/takudev-web/styles/_responsive.scss
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add _middleware for staging authenticattion
  packages/takudev-web/pages/_middleware.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: update github actions workflow
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  packages/takudev-web/pages/_document.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add lighthouse ci
  .github/workflows/ci.yml
  lighthouserc.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update lighthouse ci
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: update lighthouse.yml
  .github/workflows/lighthouse.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add reg-suit
  .github/workflows/lighthouse.yml
  packages/takudev-web/.gitignore
  packages/takudev-web/.storybook/main.js
  packages/takudev-web/.storybook/preview.js
  packages/takudev-web/components/atoms/CloseButton/CloseButton.stories.tsx
  packages/takudev-web/components/atoms/CloseButton/index.tsx
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.stories.tsx
  packages/takudev-web/components/atoms/HamburgerButton/index.tsx
  packages/takudev-web/components/atoms/Logo/Logo.stories.tsx
  packages/takudev-web/components/atoms/Logo/index.tsx
  packages/takudev-web/package.json
  packages/takudev-web/regconfig.json
  packages/takudev-web/styles/_global-story-book.scss
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add reg-suit yml
  .github/workflows/reg-suit.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: update reg-suit.yml
  .github/workflows/lighthouse.yml
  .github/workflows/reg-suit.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: rename s3 bucket
  packages/takudev-web/regconfig.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: regconfig.json
  packages/takudev-web/regconfig.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add storybook.yml
  .github/workflows/storybook.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: trigger
  .github/workflows/storybook.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update storybook yml
  .github/workflows/storybook.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: remove extra statement
  .github/workflows/storybook.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: updat storybook yml
  .github/workflows/storybook.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update storybookk yml
  .github/workflows/storybook.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: update reg-suit
  .github/workflows/reg-suit.yml
  .github/workflows/storybook.yml
  packages/takudev-web/regconfig.json
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: rename storybook deploy branch to develop from main
  .github/workflows/storybook.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add new github app(semantic-pull-request)
  .github/semantic.yml
  .github/workflows/semantic.yml
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: modify shouldNoIndex logic
  packages/takudev-web/pages/_document.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add ModalMenu skeleton
  packages/takudev-web/components/organisms/ModalMenu/ModalMenuView.stories.tsx
  packages/takudev-web/components/organisms/ModalMenu/index.tsx
  packages/takudev-web/components/organisms/PageHeader/index.tsx
  packages/takudev-web/consts/index.ts
  packages/takudev-web/consts/modal.ts
  packages/takudev-web/pages/_document.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: add categories:performance
  lighthouserc.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: temporarily comment out unnecessary components
  packages/takudev-web/components/organisms/PageHeader/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: rename ModalMenu to MenuModal
  packages/takudev-web/components/organisms/MenuModal/MenuModal.stories.tsx
  packages/takudev-web/components/organisms/MenuModal/index.tsx
  packages/takudev-web/components/organisms/ModalMenu/ModalMenuView.stories.tsx
  packages/takudev-web/consts/modal.ts
  packages/takudev-web/pages/_document.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: modify CloseButton color
  packages/takudev-web/components/atoms/CloseButton/CloseButton.module.scss
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

fix: remove dark-gray custom color
  packages/takudev-web/consts/color.ts
  packages/takudev-web/styles/_color.scss
  packages/takudev-web/types/Color.d.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

feat: add href consts
  packages/takudev-web/consts/href.ts
  packages/takudev-web/consts/index.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore

chore: improve PageHeader
  packages/takudev-web/components/organisms/PageHeader/index.tsx
Due: prettier --write --ignore-path ./.prettierignore, prettier --check --ignore-path ./.prettierignore
