Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

delete docs folder
  apps/docs/.eslintrc.js
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/tsconfig.json
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 add sort-package.json
  .husky/pre-commit
  .lintstagedrc.json
  apps/web/.lintstagedrc.json
  package.json
  packages/eslint-config-custom/.lintstagedrc.json
  packages/tsconfig/.lintstagedrc.json
  packages/ui/.lintstagedrc.json
  pnpm-lock.yaml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 add ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 update all modules
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 update README
  README.md
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: 🤖 update turbo.json
  turbo.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: 🤖 add linter's ignore files
  .eslintignore
  .prettierignore
  .prettierrc
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: 🤖 update lintstagedrc
  .lintstagedrc.json
  apps/web/.lintstagedrc.json
  packages/eslint-config-custom/.lintstagedrc.json
  packages/tsconfig/.lintstagedrc.json
  packages/ui/.lintstagedrc.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: 🤖 add turbo format command
  .eslintrc.js
  .gitignore
  .tool-versions
  apps/web/.eslintignore
  apps/web/.eslintrc.js
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/next.config.js
  apps/web/package.json
  package.json
  packages/eslint-config-custom/.eslintignore
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/tsconfig/package.json
  packages/ui/.eslintignore
  packages/ui/Button.tsx
  packages/ui/Header.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/turbo/generators/config.ts
  packages/ui/turbo/generators/templates/component.hbs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 add turbo lint command
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 add turbo type-check command
  apps/web/package.json
  package.json
  packages/tsconfig/base.json
  packages/ui/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 rename ts-config-package
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/tsconfig.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  packages/ui/Button.tsx
  packages/ui/Header.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 rename react-ui package
  packages/react-ui/.eslintignore
  packages/react-ui/.lintstagedrc.json
  packages/react-ui/Button.tsx
  packages/react-ui/Header.tsx
  packages/react-ui/index.tsx
  packages/react-ui/package.json
  packages/react-ui/tsconfig.json
  packages/react-ui/turbo/generators/config.ts
  packages/react-ui/turbo/generators/templates/component.hbs
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 Align package version
  apps/web/package.json
  packages/eslint-config-custom/package.json
  packages/react-ui/package.json
  packages/tsconfig/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 update each package.json
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/react-ui/package.json
  packages/tsconfig/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

refactor: 💡 rename eslint config custom package
  .eslintrc.js
  .tool-versions
  apps/web/.eslintrc.js
  apps/web/package.json
  package.json
  packages/eslint-config-custom/base.js
  packages/eslint-config-custom/package.json
  packages/react-ui/package.json
  pnpm-lock.yaml
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: 🐛 eslint config custom package name
  packages/eslint-config-custom/base.js
  packages/eslint-config-custom/package.json
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 add react-ui eslint custom config
  packages/eslint-config-custom/react-ui.js
  packages/react-ui/.eslintrc.js
  packages/react-ui/Button.tsx
  packages/react-ui/Header.tsx
  packages/react-ui/package.json
  pnpm-lock.yaml
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 update eslint custom package
  .eslintrc.js
  apps/web/.eslintrc.js
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/next.js
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/react-ui.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update next config
  packages/takudev-web/next.config.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: 🤖 upgrade modules
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/tsconfig.tsbuildinfo
  package.json
  packages/eslint-config-custom/package.json
  packages/react-ui/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 update nodejs
  .tool-versions
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat: 🎸 add storybook
  package.json
  packages/react-ui/.storybook/main.ts
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/package.json
  pnpm-lock.yaml
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: 🎸 add components
  packages/react-ui/.storybook/main.ts
  packages/react-ui/index.tsx
  packages/react-ui/src/components/atoms/Button.tsx
  packages/react-ui/src/components/atoms/Header.tsx
  packages/react-ui/src/components/atoms/index.ts
  packages/react-ui/src/components/index.ts
  packages/react-ui/src/index.ts
  packages/react-ui/turbo/generators/config.ts
  packages/react-ui/turbo/generators/templates/component.hbs
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: 🤖 reorganize
  packages/react-ui/atoms/Button.tsx
  packages/react-ui/atoms/Header.tsx
  packages/react-ui/atoms/index.ts
  packages/react-ui/index.tsx
  packages/react-ui/src/components/index.ts
  packages/react-ui/src/index.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: 🤖 update pnpm
  .tool-versions
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: 🤖 remove pnpm
  .tool-versions
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat: 🎸 modify sb
  .storybook/main.ts
  package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 update modules
  .husky/pre-commit
  .storybook/main.ts
  package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 reorganize npm modules
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 modify next config
  next.config.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: 🤖 update next-sitemap
  next-sitemap.config.js
  package.json
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 modify sb config
  .storybook/main.ts
  .storybook/preview.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat: 🎸 add favicons
  public/android-chrome-192x192.png
  public/android-chrome-384x384.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: 🤖 update next.config.js
  next.config.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

Path conditions:
  eslint --fix --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  eslint --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  prettier --cache --write --ignore-path ./.prettierignore: any of: ./*
  prettier --cache --check --ignore-path ./.prettierignore: any of: ./*
  sort-package-json: any of: ./package.json
  sort-package-json --check: any of: ./package.json
