Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

.lintstagedrc.json:

{
  "./*.{js,ts}": [
    "eslint --fix --ignore-path ./.eslintignore",
    "eslint --ignore-path ./.eslintignore"
  ],
  "./*": [
    "prettier --cache --write --ignore-path ./.prettierignore",
    "prettier --cache --check --ignore-path ./.prettierignore"
  ],
  "./package.json": ["sort-package-json", "sort-package-json --check"]
}

ci: update github yamls
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lighthouse.yml
  .github/workflows/reg-suit.yml
  .github/workflows/semantic.yml
  .github/workflows/storybook.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: update next.js
  .eslintrc.js
  packages/takudev-web/middleware.ts
  packages/takudev-web/package.json
  packages/takudev-web/pages/_middleware.ts
  packages/takudev-web/pages/api/basic.ts
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: optimize npm modules
  package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: update github action
  .github/actions/install-dependencies/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lighthouse.yml
  .github/workflows/reg-suit.yml
  .github/workflows/semantic.yml
  .github/workflows/storybook.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: rename
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: update github action
  .github/workflows/lighthouse.yml
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: update github action
  .github/actions/install-dependencies/action.yml
  .github/workflows/ci.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: remove storybook-clean
  .github/workflows/ci.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: update github action
  .github/workflows/ci.yml
  .github/workflows/storybook-clean.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: improve ci
  .github/actions/install-dependencies/action.yml
  .node-version
  .prettierignore
  .tool-versions
  packages/takudev-cms/.node-version
  packages/takudev-web/.node-version
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: add create PR workflow of deploying for staging
  .github/pr-release-template.erb
  .github/workflows/create-pr-deploy-staging.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: workflow env
  .github/workflows/create-pr-deploy-staging.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: add fetch-depth to checkout@v3
  .github/workflows/create-pr-deploy-staging.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: fix create-pr-deploy-staging.yml
  .github/pr-release-template.erb
  .github/workflows/create-pr-deploy-staging.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: pr-release-template PR title
  .github/pr-release-template.erb
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: pr-release-template
  .github/pr-release-template.erb
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

refactor: reorgainze components folder
  packages/takudev-web/components/atoms/index.ts
  packages/takudev-web/components/features/Home/HomePageContent.module.scss
  packages/takudev-web/components/features/Home/HomePageContent.stories.tsx
  packages/takudev-web/components/features/Home/HomePageContent.tsx
  packages/takudev-web/components/features/Home/index.ts
  packages/takudev-web/components/features/index.ts
  packages/takudev-web/components/index.ts
  packages/takudev-web/components/molecules/index.ts
  packages/takudev-web/components/organisms/index.ts
  packages/takudev-web/components/pages/Home/index.tsx
  packages/takudev-web/components/pages/index.ts
  packages/takudev-web/components/templates/index.ts
  packages/takudev-web/pages/index.stories.tsx
  packages/takudev-web/pages/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: update next.config
  packages/takudev-web/next.config.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix: remove pages storybook component
  packages/takudev-web/next.config.js
  packages/takudev-web/pages/index.stories.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: rename HomePageContent SB name
  packages/takudev-web/components/features/Home/HomePageContent.stories.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: add ignore option to prettier cli
  .lintstagedrc.json
  package.json
  packages/takudev-web/.lintstagedrc.json
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: add ci hook
  .github/workflows/ci.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: update lhci/cli
  .github/workflows/lighthouse.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: update lighthouse cli
  lighthouserc.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: improve vscode jest setting
  .vscode/settings.json
  jest.config.js
  package.json
  packages/takudev-web/jest.config.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgarde modules
  package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: fix main.js
  packages/takudev-web/.storybook/main.js
  packages/takudev-web/package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: remove deplicated modules
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgarade typescript
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgrade eslint
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgrade typescript
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgrade eslint modules
  package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgrade eslint modules
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgrade jest
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  .eslintrc.js
  package.json
  packages/takudev-web/package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update node modules
  .tool-versions
  package.json
  packages/takudev-cms/package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: improve eslint config refgex
  .eslintrc.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: remove workspace config
  takudev.code-workspace
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: update jest
  .gitignore
  packages/takudev-web/jest.config.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore
