Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore, sort-package-json, sort-package-json --check

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --ignore-path ./.eslintignore",
    "eslint --ignore-path ./.eslintignore"
  ],
  "./*": [
    "prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore",
    "prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore"
  ],
  "./**/*.{css,scss}": [
    "stylelint --fix --cache --ignore-path ./.stylelintignore",
    "stylelint --cache --ignore-path ./.stylelintignore"
  ],
  "./package.json": ["sort-package-json", "sort-package-json --check"]
}

chore: 🤖 delete default favicon
  app/favicon.ico
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: 🤖 add public files
  public/next.svg
  public/safari-pinned-tab.svg
  public/site.webmanifest
  public/vercel.svg
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

feat: 🎸 add RootLayout
  app/layout.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: 🤖 add babel plugin
  .babelrc
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: 🎸 add panda css
  .gitignore
  package.json
  panda.config.ts
  postcss.config.cjs
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 modify tsconfig.json
  tsconfig.json
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

test: 💍 modify jest config
  jest.config.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: 🤖 update panda css config
  panda.config.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

feat: 🎸 set panda css
  package.json
  src/app/global.css
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore, sort-package-json, sort-package-json --check

chore: 🤖 modify tscofig
  tsconfig.json
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

test: 💍 modify storybook config
  .storybook/main.ts
  .storybook/preview.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: 🤖 movr middleware file to src
  src/middleware.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: 🤖 update modules
  .tool-versions
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 upgrade yarn
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package.json
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 add styled-system path
  .storybook/main.ts
  tsconfig.json
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: 🤖 remove browserlist config
  package.json
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: 🤖 modify sb config
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

fix: 🐛 remove sanitize css from layout.tsx
  src/app/layout.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

style: 💄 apply panda to CloseButton
  src/components/atoms/CloseButton/CloseButton.module.scss
  src/components/atoms/CloseButton/CloseButton.stories.tsx
  src/components/atoms/CloseButton/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

chore: 🤖 remove extra components
  src/components/atoms/CloseButton/CloseButton.stories.tsx
  src/components/atoms/CloseButton/index.tsx
  src/components/atoms/HamburgerButton/HamburgerButton.module.scss
  src/components/atoms/HamburgerButton/HamburgerButton.stories.tsx
  src/components/atoms/HamburgerButton/index.tsx
  src/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.module.scss
  src/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.stories.tsx
  src/components/organisms/ColorModeSwitchButton/ColorModeSwitchButtonView.tsx
  src/components/organisms/ColorModeSwitchButton/index.tsx
  src/components/organisms/MenuModal/MenuModal.module.scss
  src/components/organisms/MenuModal/MenuModal.stories.tsx
  src/components/organisms/MenuModal/MenuModalView.tsx
  src/components/organisms/MenuModal/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

chore: 🤖 update modules
  package.json
  src/components/atoms/index.ts
  src/components/organisms/PageHeader/PageHeaderView.tsx
  src/components/organisms/PageHeader/index.tsx
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: 🎸 ロゴにpanda.cssを適用
  src/components/atoms/Logo/Logo.module.scss
  src/components/atoms/Logo/Logo.stories.tsx
  src/components/atoms/Logo/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 プロフィールアイコンにpanda cssを適用
  src/components/atoms/ProfileIcon/ProfileIcon.module.scss
  src/components/atoms/ProfileIcon/ProfileIcon.stories.tsx
  src/components/atoms/ProfileIcon/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 SNSアイコンにpanda cssを適用
  src/components/atoms/SnsIcon/SnsIcon.module.scss
  src/components/atoms/SnsIcon/SnsIcon.stories.tsx
  src/components/atoms/SnsIcon/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 テキストタグにpanda cssを適用
  src/components/atoms/TextTag/TextTag.module.scss
  src/components/atoms/TextTag/TextTag.stories.tsx
  src/components/atoms/TextTag/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 SNSアイコンリストにpanda cssを適用
  src/components/atoms/Logo/Logo.stories.tsx
  src/components/atoms/SnsIcon/SnsIcon.stories.tsx
  src/components/atoms/TextTag/TextTag.stories.tsx
  src/components/molecules/SnsIconList/SnsIconList.stories.tsx
  src/components/molecules/SnsIconList/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: 🤖 不要なスタイルを削除
  src/components/molecules/SnsIconList/SnsIconList.module.scss
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 テキストタグリストにpanda cssを適用
  src/components/molecules/TextTagList/TextTagList.module.scss
  src/components/molecules/TextTagList/TextTagList.stories.tsx
  src/components/molecules/TextTagList/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 記事サマリーカードにpanda cssを適用する
  panda.config.ts
  src/components/organisms/ArticleSummaryCard/ArticleSummaryCard.module.scss
  src/components/organisms/ArticleSummaryCard/ArticleSummaryCard.stories.tsx
  src/components/organisms/ArticleSummaryCard/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 ページフッターにpanda cssを適用する
  src/components/organisms/PageFooter/PageFooter.module.scss
  src/components/organisms/PageFooter/PageFooter.stories.tsx
  src/components/organisms/PageFooter/PageFooterView.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 ページヘッダーにpanda cssを適用
  src/components/organisms/PageHeader/PageHeader.module.scss
  src/components/organisms/PageHeader/PageHeader.stories.tsx
  src/components/organisms/PageHeader/PageHeaderView.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 プロフィールカードにpanda cssを適用する
  src/components/organisms/ProfileCard/ProfileCardView.module.scss
  src/components/organisms/ProfileCard/ProfileCardView.stories.tsx
  src/components/organisms/ProfileCard/ProfileCardView.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 ホームページコンテントにpanda cssを適用する
  src/components/features/Home/HomePageContent.module.scss
  src/components/features/Home/HomePageContent.stories.tsx
  src/components/features/Home/HomePageContent.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

feat: 🎸 記事コンポーネントにpanda cssを適用する
  src/components/features/Article/ArticleContent.module.scss
  src/components/features/Article/ArticleContent.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore

chore: update modules
  .tool-versions
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: remove modal
  src/consts/index.ts
  src/consts/modal.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

feat: ページテンプレートをpanda cssに
  .eslintrc.js
  src/components/atoms/SnsIcon/SnsIcon.stories.tsx
  src/components/atoms/SnsIcon/index.tsx
  src/components/features/Article/ArticleContent.tsx
  src/components/features/Home/HomePageContent.tsx
  src/components/molecules/SnsIconList/SnsIconList.stories.tsx
  src/components/molecules/TextTagList/index.tsx
  src/components/organisms/ArticleSummaryCard/index.tsx
  src/components/organisms/PageFooter/PageFooterView.tsx
  src/components/organisms/PageHeader/PageHeaderView.tsx
  src/components/organisms/PageHeader/index.tsx
  src/components/organisms/ProfileCard/ProfileCardView.tsx
  src/components/providers/ColorProvider/index.tsx
  src/components/providers/ColorProvider/useColorProvider.test.ts
  src/components/providers/ColorProvider/useColorProvider.ts
  src/components/templates/PageTemplate/PageTemplate.module.scss
  src/components/templates/PageTemplate/index.tsx
  src/components/templates/PageTemplate/usePageTemplate.ts
  src/contexts/ColorContext.ts
  src/lib/generateRssFeed.ts
  src/lib/getCustomColorPropertySettingText.ts
  src/lib/isColorMode.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore
