Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore(chore): chore
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  package.json
  packages/takudev-cms/package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  package.json
  packages/takudev-cms/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

test: apply new storybook type
  packages/takudev-web/components/atoms/CloseButton/CloseButton.stories.tsx
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.stories.tsx
  packages/takudev-web/components/atoms/Logo/Logo.stories.tsx
  packages/takudev-web/components/atoms/ProfileIcon/ProfileIcon.stories.tsx
  packages/takudev-web/components/atoms/SnsIcon/SnsIcon.stories.tsx
  packages/takudev-web/components/atoms/TextTag/TextTag.stories.tsx
  packages/takudev-web/components/features/Home/HomePageContent.stories.tsx
  packages/takudev-web/components/molecules/SnsIconList/SnsIconList.stories.tsx
  packages/takudev-web/components/molecules/TextTagList/TextTagList.stories.tsx
  packages/takudev-web/components/organisms/ArticleSummaryCard/ArticleSummaryCard.stories.tsx
  packages/takudev-web/components/organisms/ColorModeSwitchButton/ColorModeSwitchButton.stories.tsx
  packages/takudev-web/components/organisms/MenuModal/MenuModal.stories.tsx
  packages/takudev-web/components/organisms/PageFooter/PageFooter.stories.tsx
  packages/takudev-web/components/organisms/PageHeader/PageHeader.stories.tsx
  packages/takudev-web/components/organisms/ProfileCard/ProfileCardView.stories.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat: update storybook
  packages/takudev-web/.storybook/main.js
  packages/takudev-web/.storybook/main.ts
  packages/takudev-web/package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

refactor: rename graphql folder → graphql schema
  packages/takudev-web/.eslintrc.js
  packages/takudev-web/.prettierignore
  packages/takudev-web/graphql_schema/__generated__/index.d.ts
  packages/takudev-web/graphql_schema/__generated__/index.ts
  packages/takudev-web/graphql_schema/codegen.yaml
  packages/takudev-web/graphql_schema/documents/query/findArticleById.graphql
  packages/takudev-web/graphql_schema/documents/query/getAllArticleSummary.graphql
  packages/takudev-web/graphql_schema/getGraphqlSdk.ts
  packages/takudev-web/graphql_schema/index.ts
  packages/takudev-web/graphql_schema/schema.graphql
  packages/takudev-web/lib/generateRssFeed.ts
  packages/takudev-web/package.json
  packages/takudev-web/pages/articles/[slug].tsx
  packages/takudev-web/pages/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: change storybook command
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

refactor: change npm script
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update npm script
  packages/takudev-web/package.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: remove puppeteer
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: update mudules
  .prettierignore
  package.json
  packages/takudev-cms/package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  .tool-versions
  package.json
  packages/takudev-cms/package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update prettirIgnore
  .prettierignore
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: update modules
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: update module
  package.json
  packages/takudev-cms/package.json
  packages/takudev-web/.storybook/main.ts
  packages/takudev-web/graphql_schema/__generated__/index.d.ts
  packages/takudev-web/graphql_schema/__generated__/index.ts
  packages/takudev-web/package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: udpate module
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update module
  package.json
  packages/takudev-cms/package.json
  packages/takudev-web/components/atoms/CloseButton/CloseButton.module.scss
  packages/takudev-web/components/atoms/HamburgerButton/HamburgerButton.module.scss
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

build: update nodejs
  .tool-versions
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: fix ci
  .github/workflows/lighthouse.yml
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: fix ci
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: update modules
  lighthouserc.js
  package.json
  packages/takudev-web/package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: add LinkBlock
  packages/takudev-web/components/features/Article/ArticleContent.tsx
  packages/takudev-web/components/features/Article/LinkBlock.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat: create new web pacakage
  packages/takudev-web/.eslintrc.json
  packages/takudev-web/.gitignore
  packages/takudev-web/README.md
  packages/takudev-web/app/favicon.ico
  packages/takudev-web/app/globals.css
  packages/takudev-web/app/layout.tsx
  packages/takudev-web/app/page.module.css
  packages/takudev-web/app/page.tsx
  packages/takudev-web/next.config.js
  packages/takudev-web/package.json
  packages/takudev-web/public/next.svg
  packages/takudev-web/public/vercel.svg
  packages/takudev-web/tsconfig.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add new turbo project
  .eslintrc.js
  .gitignore
  .npmrc
  .tool-versions
  README.md
  apps/docs/.eslintrc.js
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/README.md
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/ui/Button.tsx
  packages/ui/Header.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/ui/turbo/generators/config.ts
  packages/ui/turbo/generators/templates/component.hbs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

Path conditions:
  eslint --fix --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  eslint --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  prettier --cache --write --ignore-path ./.prettierignore: any of: ./*
  prettier --cache --check --ignore-path ./.prettierignore: any of: ./*
  sort-package-json: any of: ./package.json
  sort-package-json --check: any of: ./package.json
