Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, stylelint --fix --cache --ignore-path ./.stylelintignore, stylelint --cache --ignore-path ./.stylelintignore, sort-package-json, sort-package-json --check

feat: ホームページを実装
  src/app/layout.tsx
  src/app/page.tsx
  src/components/atoms/SnsIcon/index.tsx
  src/components/features/Home/index.ts
  src/components/templates/PageTemplate/index.tsx
  src/components/templates/PageTemplate/usePageTemplate.test.ts
  src/components/templates/PageTemplate/usePageTemplate.ts
  src/graphql_schema/getGraphqlSdk.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

style: snsアイコンのスタイルを修正
  src/components/atoms/SnsIcon/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: upgrade modules
  .tool-versions
  package.json
  src/components/features/Article/ArticleContent.tsx
  src/components/features/Article/CodeBlock.tsx
  src/components/features/index.ts
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: storybook config
  .storybook/main.ts
  .storybook/preview.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

feat: ci
  .github/workflows/ci.yml
  .github/workflows/reg-suit.yml
  lighthouserc.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: update modules
  .stylelintrc.json
  package.json
  src/components/providers/ColorProvider/useColorProvider.test.ts
  src/components/scripts/ColorThemeScript.tsx
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: fix lighthouse config
  lighthouserc.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: upgrade modules
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: remove comittizen config
  .husky/prepare-commit-msg
  package.json
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgrade moudules
  .eslintignore
  .prettierignore
  .storybook/preview.ts
  .stylelintignore
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

fix: remove extra aria-label
  src/components/organisms/ArticleSummaryCard/index.tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

ci: add Retry Step
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: upgrade modules
  .tool-versions
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgrade modules
  next-sitemap.config.js
  package.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: undo upgrading remark-gfm
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgrade
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: fix stylelint config
  .stylelintrc.json
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: upgrade modules
  package.json
  src/lib/generateRssFeed.ts
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  package.json
  src/graphql_schema/schema.graphql
  src/types/Awaited.d.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: upgrade modules
  .tool-versions
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: add region
  .github/workflows/reg-suit.yml
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore

chore: update modules
  package.json
  yarn.lock
Due: prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore, prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

Path conditions:
  eslint --fix --ignore-path ./.eslintignore: any of: ./**/*.{js,jsx,ts,tsx}
  eslint --ignore-path ./.eslintignore: any of: ./**/*.{js,jsx,ts,tsx}
  prettier --cache --write --ignore-unknown --ignore-path ./.prettierignore: any of: ./*
  prettier --cache --check --ignore-unknown --ignore-path ./.prettierignore: any of: ./*
  stylelint --fix --cache --ignore-path ./.stylelintignore: any of: ./**/*.{css,scss}
  stylelint --cache --ignore-path ./.stylelintignore: any of: ./**/*.{css,scss}
  sort-package-json: any of: ./package.json
  sort-package-json --check: any of: ./package.json
