Repository t-i-0414/takudev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: test
  .github/workflows/reg-suit.yml
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: test
  .github/actions/install-dependencies/action.yml
  .github/workflows/ci.yml
  .github/workflows/create-pr-deploy-staging.yml
  .github/workflows/lighthouse.yml
  .github/workflows/storybook-clean.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: test
  .github/workflows/reg-suit.yml
  package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat: add authorizarion
  .gitignore
  packages/takudev-web/pages/index.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: add secrets
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: add chronium
  .github/actions/install-dependencies/action.yml
  .github/workflows/ci.yml
  .github/workflows/create-pr-deploy-staging.yml
  .github/workflows/lighthouse.yml
  .github/workflows/reg-suit.yml
  .github/workflows/storybook-clean.yml
  .gitignore
  package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

fix: add HomePageContent props mock
  packages/takudev-web/components/features/Home/HomePageContent.stories.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: optimize development environment
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
  package.json
  packages/takudev-cms/config/server.ts
  packages/takudev-cms/package.json
  packages/takudev-web/.env.development
  packages/takudev-web/lib/filterNotNullElement.test.ts
  packages/takudev-web/lib/filterNotNullableElement.ts
  packages/takudev-web/lib/index.ts
  packages/takudev-web/lib/isNotNullable.test.ts
  packages/takudev-web/lib/isNotNullable.ts
  packages/takudev-web/package.json
  packages/takudev-web/pages/index.tsx
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

ci: apply storybook url
  .github/workflows/ci.yml
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: apply reg-suit sub domain
  packages/takudev-web/regconfig.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

ci: modify
  packages/takudev-web/regconfig.json
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: improve global style
  packages/takudev-web/.stylelintrc.json
  packages/takudev-web/styles/_global.scss
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): add findArticleById graphql method
  packages/takudev-web/graphql/__generated__/index.d.ts
  packages/takudev-web/graphql/__generated__/index.ts
  packages/takudev-web/graphql/documents/query/findArticleById.graphql
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): add dynamic routing
  packages/takudev-web/pages/articles/[slug].tsx
  packages/takudev-web/pages/index.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): add new response attributes to graphql query
  packages/takudev-web/graphql/__generated__/index.d.ts
  packages/takudev-web/graphql/__generated__/index.ts
  packages/takudev-web/graphql/documents/query/findArticleById.graphql
  packages/takudev-web/graphql/documents/query/getAllArticleSummary.graphql
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): add normalizeArticle lib method
  packages/takudev-web/lib/index.ts
  packages/takudev-web/lib/normalizeArticle.test.ts
  packages/takudev-web/lib/normalizeArticle.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): apply normalizeArticle to pages
  packages/takudev-web/pages/articles/[slug].tsx
  packages/takudev-web/pages/index.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): add getGraphqlSdk method
  packages/takudev-web/graphql/getGraphqlSdk.ts
  packages/takudev-web/graphql/index.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

refactor(web): apply getGraphqlSdk method to pages
  packages/takudev-web/pages/articles/[slug].tsx
  packages/takudev-web/pages/index.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): add skeleton ArticleContent Component
  packages/takudev-web/components/features/Article/ArticleContent.tsx
  packages/takudev-web/components/features/Article/index.ts
  packages/takudev-web/components/features/index.ts
  packages/takudev-web/pages/articles/[slug].tsx
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat: sort ArticleSummaryCard
  packages/takudev-web/components/features/Home/HomePageContent.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): add ArticleContent component's style
  packages/takudev-web/components/features/Article/ArticleContent.module.scss
  packages/takudev-web/components/features/Article/ArticleContent.tsx
  packages/takudev-web/package.json
  packages/takudev-web/pages/articles/[slug].tsx
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

perf(web): optimize cwv
  .gitignore
  lighthouserc.js
  packages/takudev-web/.gitignore
  packages/takudev-web/components/atoms/Logo/Logo.module.scss
  packages/takudev-web/components/features/Article/ArticleContent.tsx
  packages/takudev-web/components/features/Home/HomePageContent.tsx
  packages/takudev-web/next.config.js
  packages/takudev-web/package.json
  packages/takudev-web/pages/_document.tsx
  packages/takudev-web/pages/articles/[slug].tsx
  packages/takudev-web/pages/index.tsx
  packages/takudev-web/public/android-chrome-192x192.png
  packages/takudev-web/public/android-chrome-384x384.png
  packages/takudev-web/public/apple-touch-icon.png
  packages/takudev-web/public/browserconfig.xml
  packages/takudev-web/public/favicon-16x16.png
  packages/takudev-web/public/favicon-32x32.png
  packages/takudev-web/public/favicon.ico
  packages/takudev-web/public/mstile-150x150.png
  packages/takudev-web/public/safari-pinned-tab.svg
  packages/takudev-web/public/site.webmanifest
  packages/takudev-web/styles/_global-story-book.scss
  packages/takudev-web/styles/_global.scss
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

perf(web): modify lhci
  lighthouserc.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

refactor(web): remove font-display property
  packages/takudev-web/components/atoms/Logo/Logo.module.scss
  packages/takudev-web/styles/_global-story-book.scss
  packages/takudev-web/styles/_global.scss
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): add react-markdown plugins
  packages/takudev-cms/package.json
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore(web): update nextjs settings
  packages/takudev-web/next.config.js
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

feat(web): add syntax-hightlighter & image optimization
  packages/takudev-web/components/features/Article/ArticleContent.tsx
  packages/takudev-web/components/features/Article/CodeBlock.tsx
  packages/takudev-web/components/features/Article/ImageBlock.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: update MenuModal SB
  packages/takudev-web/components/organisms/MenuModal/MenuModal.stories.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

fix(web): font setting
  lighthouserc.js
  packages/takudev-web/.stylelintrc.json
  packages/takudev-web/pages/_document.tsx
  packages/takudev-web/styles/_font-family.scss
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

style(web): add ArticleContent's style
  packages/takudev-web/components/features/Article/ArticleContent.module.scss
  packages/takudev-web/consts/color.ts
  packages/takudev-web/styles/_color.scss
  packages/takudev-web/types/Color.d.ts
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

style(web): add ArticleContent's style
  packages/takudev-web/components/features/Article/ArticleContent.module.scss
  packages/takudev-web/components/features/Article/ImageBlock.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

style(web): add ArticleContent's style
  packages/takudev-web/components/features/Article/ArticleContent.module.scss
  packages/takudev-web/components/features/Article/CodeBlock.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

style(web): widen the width
  packages/takudev-web/components/features/Article/ArticleContent.module.scss
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

style(web): add table style
  packages/takudev-web/components/features/Article/ArticleContent.module.scss
  packages/takudev-web/components/features/Article/ArticleContent.tsx
  packages/takudev-web/components/features/Article/TableBlock.tsx
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

style(web): change global style
  packages/takudev-web/styles/_global-story-book.scss
  packages/takudev-web/styles/_global.scss
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore

chore: update modules
  package.json
  packages/takudev-cms/package.json
  packages/takudev-web/.eslintignore
  packages/takudev-web/.prettierignore
  packages/takudev-web/.stylelintignore
  packages/takudev-web/components/atoms/SnsIcon/index.tsx
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

chore: update modules
  packages/takudev-web/package.json
  yarn.lock
Due: prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

feat(web): add rss feed
  packages/takudev-cms/.gitignore
  packages/takudev-web/lib/generateRssFeed.ts
  packages/takudev-web/lib/index.ts
  packages/takudev-web/package.json
  packages/takudev-web/pages/feed.tsx
  yarn.lock
Due: eslint --fix --ignore-path ./.eslintignore, eslint --ignore-path ./.eslintignore, prettier --cache --write --ignore-path ./.prettierignore, prettier --cache --check --ignore-path ./.prettierignore, sort-package-json, sort-package-json --check

Path conditions:
  eslint --fix --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  eslint --ignore-path ./.eslintignore: any of: ./*.{js,ts}
  prettier --cache --write --ignore-path ./.prettierignore: any of: ./*
  prettier --cache --check --ignore-path ./.prettierignore: any of: ./*
  sort-package-json: any of: ./package.json
  sort-package-json --check: any of: ./package.json
